/*COLORS*/
$bgColor: #ccc;
$mainColor: #333;
$secondColor:rgba(248, 214, 23, 0.973);


.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .card {
    width: 600px;
    padding: 2em;
  }